<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.truskills.liveexams">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Miscellaneous.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreens.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MainScreens.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".authentication.Signup_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Miscellaneous.TermsAndConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainScreens.SearchResultsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".ParticularExam.ParticularExamMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quiz.QuizMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Quiz.AllSectionsSummary"
            android:screenOrientation="portrait"/>
        <activity android:name=".Quiz.SectionNamesDisplay"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>